.form-select-sm-mdb {
    padding-top: 0.23rem;
    padding-bottom: 0.23rem;
    padding-left: .5rem;
    font-size: 1rem;
    border-radius: .2rem;
}

.plain-anchor {
    text-decoration: none;
    color: inherit;
}
.plain-anchor:hover {
    color: inherit;
}

.bg-credit {
    background-color: #E9F7EF;
    transition: 0.1s;
}

.bg-debit {
    background-color: #F9EBEA;
    transition: 0.1s;
}

.bg-debit:hover {
    background-color: #D98880;
    color: #FFF;
}

.bg-credit:hover {
    background-color: #52BE80;
    color: #FFF;
}

.trans-grid-hover:hover {
    font-size: 1.5rem;
    transition: 0.1s;
}

.trans-table-row-hover:hover {
    background-color: #D98880
}

.trans-grid-action {
    display: none;
    color: #000;
}

.trans-grid-action:hover i {
    transition: 0.9s;
    color: #000;
}

.trans-grid-hover:hover .trans-grid-action {
    display: inline;
    color: #FFF;
}

.category-grid {
    background-color: #EAECEE;
    transition: 0.2s;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

.category-grid:hover {
    background-color: #3265b9;
    color: #FFF;
    transition: 0.2s;
}

.category-grid button:hover {
    color: #000;
    transition: 0.3s;
}
